In [151]:
# Import requests library
import requests
import json
import pandas as pd

fbi: 200
tenders: 200
flights: 200

# FBI API

In [175]:
fbi = requests.get("https://api.fbi.gov/wanted/v1/list")
print("fbi:", fbi.status_code)

fbi: 200

In [176]:
fbi_response = requests.get('https://api.fbi.gov/wanted/v1/list')
fbi_response
fbi_results = fbi_response.json()
#fbi_results

In [178]:
pd.set_option("display.max_rows", 0)

fbi_data = pd.DataFrame(fbi_results)
fbi_data.head()

   total                                              items  page
0    964  {'reward_text': 'The FBI is offering a reward ...     1
1    964  {'reward_text': 'The FBI is offering a reward ...     1
2    964  {'reward_text': None, 'aliases': ['Cristian Mo...     1
3    964  {'reward_text': None, 'aliases': ['James Von K...     1
4    964  {'reward_text': None, 'aliases': None, 'public...     1

In [179]:
def flatten(fbi_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(fbi_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        fbi_data = pd.concat([fbi_data, flattened], axis=1)
        fbi_data = fbi_data.drop(column, axis=1)
    return fbi_data

In [183]:
dict(fbi_data['items'])
pd.DataFrame(dict(fbi_data['items']))
pd.DataFrame(dict(fbi_data['items'])).transpose().head(3)

,reward_text,aliases,publication,url,warning_message,age_max,additional_information,weight_min,height_min,field_offices,...,possible_states,eyes,subjects,languages,ncic,possible_countries,dates_of_birth_used,person_classification,race_raw,@id
0,"The FBI is offering a reward of up to $10,000 ...","[Chris Gardner, Christopher Charles Gardner]",2021-12-08T10:43:00,https://www.fbi.gov/wanted/wcc/christopher-c-g...,SHOULD BE CONSIDERED AN INTERNATIONAL FLIGHT R...,None,None,175,71,[milwaukee],...,None,blue,[White-Collar Crime],"[English, French, German]",W496951108,None,"[July 8, 1955, July 8, 1954]",Main,White,https://api.fbi.gov/@wanted-person/3f5d03cb681...
1,"The FBI is offering a reward of up to $5,000 f...",None,2022-04-06T11:46:00,https://www.fbi.gov/wanted/seeking-info/vandal...,None,None,None,None,None,[albuquerque],...,None,None,[Seeking Information],None,None,None,None,Main,None,https://api.fbi.gov/@wanted-person/11954299cdf...
2,None,"[Cristian Mora, ""C-Fresh"", ""Fresh""]",2022-04-15T07:34:00,https://www.fbi.gov/wanted/cei/cristian-rios-mora,SHOULD BE CONSIDERED ARMED AND DANGEROUS AND A...,None,None,210,71,[sanfrancisco],...,None,brown,"[Criminal Enterprise Investigations, Case of t...",None,None,None,"[November 2, 1992]",Main,White (Hispanic),https://api.fbi.gov/@wanted-person/616712ad0f2...

In [184]:
fbi_nested_columns = ['items']

fbi_flat = flatten(fbi_data, fbi_nested_columns)
fbi_flat.head(3)

,total,page,items_reward_text,items_aliases,items_publication,items_url,items_warning_message,items_age_max,items_additional_information,items_weight_min,...,items_possible_states,items_eyes,items_subjects,items_languages,items_ncic,items_possible_countries,items_dates_of_birth_used,items_person_classification,items_race_raw,items_@id
0,964,1,"The FBI is offering a reward of up to $10,000 ...","[Chris Gardner, Christopher Charles Gardner]",2021-12-08T10:43:00,https://www.fbi.gov/wanted/wcc/christopher-c-g...,SHOULD BE CONSIDERED AN INTERNATIONAL FLIGHT R...,None,None,175,...,None,blue,[White-Collar Crime],"[English, French, German]",W496951108,None,"[July 8, 1955, July 8, 1954]",Main,White,https://api.fbi.gov/@wanted-person/3f5d03cb681...
1,964,1,"The FBI is offering a reward of up to $5,000 f...",None,2022-04-06T11:46:00,https://www.fbi.gov/wanted/seeking-info/vandal...,None,None,None,None,...,None,None,[Seeking Information],None,None,None,None,Main,None,https://api.fbi.gov/@wanted-person/11954299cdf...
2,964,1,None,"[Cristian Mora, ""C-Fresh"", ""Fresh""]",2022-04-15T07:34:00,https://www.fbi.gov/wanted/cei/cristian-rios-mora,SHOULD BE CONSIDERED ARMED AND DANGEROUS AND A...,None,None,210,...,None,brown,"[Criminal Enterprise Investigations, Case of t...",None,None,None,"[November 2, 1992]",Main,White (Hispanic),https://api.fbi.gov/@wanted-person/616712ad0f2...

# TENDERS IN SPAIN

In [185]:
tenders = response = requests.get("https://tenders.guru/api/es/tenders")
print("tenders:", tenders.status_code)

tenders: 200

In [186]:
tenders_response = requests.get('https://tenders.guru/api/es/tenders')
tenders_response
tenders_results = response.json()
#tenders_results

In [187]:
pd.set_option("display.max_rows", 0)

tenders_data = pd.DataFrame(tenders_results)
tenders_data.head(5)

,page_count,page_number,page_size,total,data
0,7146,1,100,714598,"{'id': '831333', 'date': '2021-06-29', 'deadli..."
1,7146,1,100,714598,"{'id': '831322', 'date': '2021-05-17', 'deadli..."
2,7146,1,100,714598,"{'id': '831319', 'date': '2021-06-29', 'title'..."
3,7146,1,100,714598,"{'id': '831318', 'date': '2021-06-29', 'title'..."
4,7146,1,100,714598,"{'id': '831317', 'date': '2021-05-26', 'deadli..."

In [188]:
def flatten(tenders_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(tenders_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        tenders_data = pd.concat([tenders_data, flattened], axis=1)
        tenders_data = tenders_data.drop(column, axis=1)
    return tenders_data

In [189]:
tenders_nested_columns = ['data']

tenders_data = flatten(tenders_data, tenders_nested_columns)
tenders_data.head(3)

,page_count,page_number,page_size,total,data_id,data_date,data_deadline_date,data_deadline_length_days,data_title,data_category,data_sid,data_src_url,data_purchaser,data_type,data_awarded
0,7146,1,100,714598,831333,2021-06-29,2021-06-07,22,Servicio de producciÃ³n de cÃ©lulas mesenquimale...,services,7791427,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1988', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-29', 'value_for_two': 16356..."
1,7146,1,100,714598,831322,2021-05-17,2021-06-01,15,ContrataciÃ³n de Servicio de la ProgramaciÃ³n de...,services,7554969,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '49', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-29', 'value_for_two': 0, 's..."
2,7146,1,100,714598,831319,2021-06-29,NaN,NaN,Adquisicion de impresoras A4 Color para el Min...,supplies,7791419,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 0, 's..."

In [99]:
def flatten(tenders_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(tenders_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        tenders_data = pd.concat([tenders_data, flattened], axis=1)
        tenders_data = tenders_data.drop(column, axis=1)
    return tenders_data

In [190]:
tenders_nested_columns = ['data_purchaser', 'data_type']

tenders_data = flatten(tenders_data, tenders_nested_columns)
tenders_data.head(3)

,page_count,page_number,page_size,total,data_id,data_date,data_deadline_date,data_deadline_length_days,data_title,data_category,data_sid,data_src_url,data_awarded,data_purchaser_id,data_purchaser_sid,data_purchaser_name,data_type_id,data_type_name,data_type_slug
0,7146,1,100,714598,831333,2021-06-29,2021-06-07,22,Servicio de producciÃ³n de cÃ©lulas mesenquimale...,services,7791427,https://contrataciondelestado.es/wps/poc?uri=d...,"[{'date': '2021-06-29', 'value_for_two': 16356...",1988,None,None,negotiated-without-publicity,Negotiated without publicity,negotiated-without-publicity
1,7146,1,100,714598,831322,2021-05-17,2021-06-01,15,ContrataciÃ³n de Servicio de la ProgramaciÃ³n de...,services,7554969,https://contrataciondelestado.es/wps/poc?uri=d...,"[{'date': '2021-06-29', 'value_for_two': 0, 's...",49,None,None,simplified-open,Simplified open,simplified-open
2,7146,1,100,714598,831319,2021-06-29,NaN,NaN,Adquisicion de impresoras A4 Color para el Min...,supplies,7791419,https://contrataciondelestado.es/wps/poc?uri=d...,"[{'date': '2021-06-29', 'value_for_two': 0, 's...",1952,None,None,contract-based-on-a-framework-agreement,Contract based on a framework agreement,contract-based-on-a-framework-agreement

# MADRID PUBLIC SCHOOLS

In [191]:
flights = requests.get("https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json")
print("flights:", flights.status_code)

flights: 200

In [192]:
schools_response = requests.get('https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json')
schools_response
schools_results = schools_response.json()
#schools_results

In [193]:
#schools_results['@graph']

In [194]:
pd.set_option("display.max_rows", 0)

schools_data = pd.DataFrame(schools_results['@graph'])
schools_data.head()

,@id,@type,id,title,relation,address,location,organization
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio PÃºblico Adolfo SuÃ¡rez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.48860266655876, 'longitude': -...",{'organization-desc': 'Â ENSEÃ‘ANZAS: Segundo ci...
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio PÃºblico Agustina DÃ­ez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.3881909372302, 'longitude': -3...",{'organization-desc': 'Â ENSEÃ‘ANZA: EducaciÃ³n i...
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio PÃºblico AgustÃ­n Rodriguez SahagÃºn,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.36803998494376, 'longitude': -...",{'organization-desc': 'Â ENSEÃ‘ANZA: Educacion I...
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio PÃºblico Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.43333782278732, 'longitude': -...",{'organization-desc': 'Â ENSEÃ‘ANZA: EducaciÃ³n I...
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio PÃºblico Alcalde de MÃ³stoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.37983690289588, 'longitude': -...",{'organization-desc': 'Â ENSEÃ‘ANZA: EducaciÃ³n I...

In [195]:
def flatten(schools_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(schools_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        schools_data = pd.concat([schools_data, flattened], axis=1)
        schools_data = schools_data.drop(column, axis=1)
    return schools_data

In [196]:
schools_nested_columns = ['address', 'location', 'organization']

schools_data = flatten(schools_data, schools_nested_columns)
schools_data.head()

,@id,@type,id,title,relation,address_district,address_area,address_locality,address_postal-code,address_street-address,location_latitude,location_longitude,organization_organization-desc,organization_accesibility,organization_schedule,organization_services,organization_organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio PÃºblico Adolfo SuÃ¡rez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÃ‘ANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio PÃºblico Adolfo SuÃ¡rez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio PÃºblico Agustina DÃ­ez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÃ‘ANZA: EducaciÃ³n infantil - PrimariaÂ METR...,0,,Comedor - Horario ampliado,Colegio PÃºblico Agustina DÃ­ez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio PÃºblico AgustÃ­n Rodriguez SahagÃºn,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÃ‘ANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio PÃºblico AgustÃ­n Rodriguez SahagÃºn
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio PÃºblico Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÃ‘ANZA: EducaciÃ³n Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio PÃºblico Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio PÃºblico Alcalde de MÃ³stoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÃ‘ANZA: EducaciÃ³n Infantil - PrimariaÂ BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio PÃºblico Alcalde de MÃ³stoles